{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block contact %}active{% endblock contact %}


{% block body %}
    <style>
        .container{
            margin-top: 90px;
            width: 50vw; 
        }

        label{
            margin-top: 5px;

        }
        button{
            margin-bottom: 8px;
        }
    </style>

    <div class="container">
        <h3 class="my-3">Contact Us</h3>
    <form action="/contact" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name = "name"class="form-control me-3" id="exampleFormControlInput1" placeholder="Enter your name">

            <label for="email" class="form-label">Email Id</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Query</label>
            <textarea class="form-control mb-3" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="Write your query here"></textarea>
          </div>

          <button type="button" class="btn btn-primary">Submit</button>
        </form>
    
    </div>
{% endblock body %}